.search-container {
    display: flex;
    column-count: 2;
    h1 {
        text-align: center;
    }
    h4 {
        color: white;
        margin: 10px 0px 10px 0px;
    }  
}

.search-hero-form {
    width: 30%;
    margin: 10px;
    input {
        border-radius: 2px;
        margin-right:5px;
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
    }
   
}
hr:not([size]) {
    color: white;
    height: 1px;
}

// input[type="text"] {
//     border: 1px solid;
//     border-radius: 2px;
// }

input[type="text"]  {
    border: 0;
    background: none;
    display: block;
    margin: 10px;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: 2px solid rgba(255, 0, 0, 0.5) ;
    color: white;
    border-radius: 2px;
    transition: 0.25s;
    font-size: 20px;
     &:focus{
         box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0,  0.4);
         outline-color: rgba(49, 138, 172, 0);
         outline-offset: 80px;
         text-shadow: 1px 1px 6px #fff;
    }
     &:hover{
         box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0,  0.4);
         outline-color: rgba(49, 138, 172, 0);
         outline-offset: 80px;
         text-shadow: 1px 1px 6px #fff;
     }
 }

.search-hero-error {
    color: white;
    font-size: 20px;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
button {
    color: #fff !important;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    background: #111111;
    border: 2px solid #ffffff;
    outline: 1px solid;
    padding: 0.5em 1.2em;
    outline-color: rgba(255, 0, 0, 0.5);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
        box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0,  0.4);
        outline-color: rgba(49, 138, 172, 0);
        outline-offset: 80px;
        text-shadow: 1px 1px 6px #fff;
    }
}

.container-results {
    width: 100%;
}


